{% extends 'base.html.twig' %}

{% block body %}
<h3 class="btn-block btn-info">Liste des voyageurs</h3>
    <div class="form-inline custom-control">

    <ul>
        <li>
            {#<a href="{{ path('user_new') }}">Create a new user</a>#}
            <a href="{{ path('ajout_voyageur') }}">Créer un nouveau voyageur</a>
        </li>
    </ul>
</div>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Adresse</th>
        <th>Telephone</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for voyageur in voyageurs %}
      <tr>
          {#<td><a href="{{ path('index_voyageur', {'id':voyageur.id}) }}">{{ voyageur.id }}</a> </td>#}
          <td><a href="{{ path('index_voyageur', {'id':voyageur.id}) }}">{{ voyageur.id }}</a> </td>
          <td>{{ voyageur.nom }}</td>
          <td>{{ voyageur.prenom }}</td>
          <td>{{ voyageur.adresse }}</td>
          <td>{{ voyageur.telephone }}</td>
          <td>
            <a href="{{ path("affiche_voyageur", {'id':voyageur.id}) }}" class="btn-sm btn-primary">Affichage</a>
            <a href="{{ path("modif_voyageur", {'id': voyageur.id}) }}" class="btn-sm btn-success">Modifier</a>
            <a href="{{ path("supprimer_voyageur", {'id': voyageur.id}) }}" class="btn-sm btn-danger">Supprimer</a>

          </td>
      </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}